
body{
    background-color:black;
    position:relative;
}
#header{
    background-image:url("{% static 'home_background.jpg'%}") ;
    /* background-position:center; */
    width:100%;
    height:200px;
    padding:50px 0 0 0 ;
    color:white;
    font-size:150px;
    text-align:center;
    outline:yellow;
    filter:grayscale(70%);
    transition:filter 250ms ease;
    position:relative;
}
#header:hover{
    filter:grayscale(0%);
}
.menu{
    width:100%;
    height:60px;
    background:rgb(153, 18, 153);
    opacity:0.6;
    position:fixed;
    top:5px;
    /* outline:6px solid white; */
    /* overflow:auto; */
}
.active{
    background-color:black;
}
.menu a{
    height:62%;
    float: left;
    /* outline:6px solid white; */
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  transition: font-size ease;
}
.menu a:hover {
    background-color:black;
}
#content{
    height:600px; width:98%; background-color:rgb(44, 39, 39); margin:3px 0 0 0;
    color:white;
    font-size:20px;
    padding: 15px 15px 0 15px;
}
